<h1>Your Polls</h1>
<h2>Your email: <%= user.escape('email') %></h2>

<h2>Your questions:</h2>
<div class="questions-container">
  <% if (questions.length === 0) { %>
    <%= 'You have no questions! :(' %>
  <% } else { %>
    <% questions.forEach(function (question) { %>
      <div class="question-item"><a href="/#/questions/<%= question.id %>"><%= question.escape('title') %></a></div>
    <% }) %>
  <% } %>
</div>

<h2>Your surveys:</h2>
<div class="surveys-container">
  <% if (surveys.length === 0) { %>
    <%= 'You have no surveys! :(' %>
  <% } else { %>
    <% surveys.forEach(function (survey) { %>
      <div class="survey-item"><a href="/#/surveys/<%= survey.id %>"><%= survey.escape('title') %></a></div>
    <% }) %>
  <% } %>
</div>