<% if (!isInSurvey && !isInModal) { %>
  <h1><%= question.id ? 'Edit' : 'Create a Quick' %> Question</h1>
<% } %>

<div class="form-group question-title-field">
  <label for="question-title-<%= question.escape('ord') %>">Question<%= isInSurvey ? (" " + question.escape('ord')) : "" %>:</label>
  <textarea id="question-title-<%= question.escape('ord') %>"
            class="form-control"
            name="question[title]"
            maxlength="120"
            rows="4"
            placeholder="What would you like to ask your audience?"
  ><%= question.escape('title') %></textarea>
</div>

<input type="hidden" name="question[ord]" value="<%= question.escape('ord') %>">

<div class="answers"></div>

<button class="add-answer btn btn-default btn-sm">Add another answer</button>
<% if (isInSurvey) { %>
  <button class="save-question btn btn-primary">Save Question</button>
  <div class="next-question"></div>
<% } else { %>
  <button class="publish-question btn btn-primary">Publish My Question!</button>
<% } %>
