<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FastFeedback</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://s3-us-west-1.amazonaws.com/fastfeedback/application.js" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
  <% end %>
<% end %>

<div id='main'>
  <%= yield %>
</div>

</body>
</html>
