<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FastFeedback</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="font_preload" style="opacity: 0">
  <span style="font-family: 'Glyphicons Halflings', Arial, sans-serif;"></span>
</div>

<div id='main'>
  <%= yield %>
</div>

<script>
  window.FastFeedback = {
    Models: {},
    Collections: {},
    Views: {},
    Routers: {},
    initialize: function () {
      if (Pusher && Pusher.instances.length === 0) {
        FastFeedback.pusher = new Pusher('64152daaea1aca17f899');
      }
      FastFeedback.questions = new FastFeedback.Collections.Questions();
      new FastFeedback.Routers.Router({ $rootEl: $('#main') });
      Backbone.history.start();
    }
  }
</script>
<%= javascript_include_tag 'application' %>
<%= yield :scripts %>

</body>
</html>
